body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        #main-container {
            max-width: 1000px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        .img-container {
            display: none;
            position: relative;
        }

        .active-img {
            display: block;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .button-container {
            display: flex;
            justify-content: center;
        }

        .button-container button {
            margin: 0 5px;
            background-color: #7aaac4;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .button-container button.active {
            background-color: #4c6a7a;
        }

        .category-select-container button {
            margin: 0 5px;
            background-color: #4fe377;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .category-select-container button.active {
            background-color: #328f34;
        }

        .season-select-container button {
            margin: 0 5px;
            background-color: #4fe377;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .season-select-container button.active {
            background-color: #328f34;
        }

        img {
            width: 1000px;
            height: auto;
        }