{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script>
        //main buttons
        const chart_types = [
            { id: 1, title: "날짜에 따른 스타일 트렌드" },
            { id: 2, title: "스타일별 인기 브랜드 TOP5" },
            { id: 3, title: "계절별 인기 스타일 TOP5" },
            { id: 4, title: "계절별 인기 코디 TOP5" },
            { id: 5, title: "스타일별 인기 코디 TOP5" },
        ];
        //sub buttons
        const categories = [
            "아메카지", "캐주얼", "시크", "댄디", "비즈니스캐주얼",
            "걸리시", "골프", "레트로", "로맨틱", "스포티", "스트릿", "고프코어"
        ];
        const seasons = [
            "spring", "summer", "autumn", "winter"
        ];
    </script>
    <title>무신사 추천 코디로 보는 패션 트렌드</title>
</head>

<body>
    <div id="main-container">
        <h1>무신사 추천 코디로 보는 패션 트렌드</h1>
        <h2>차트를 선택해 주세요</h2>
        <!-- Toggle buttons (populated dynamically) -->
        <div class="button-container" id="toggle-buttons"></div>
        <!-- Category select toggle buttons will display only when button selected 3 or 4 -->
        <div class="button-container" id="category-select-container" style="display : none;">
            <ul id="category-list" style="display: flex;">
                <!--
                category select buttons field
                it will be dynamically generated
            -->
            </ul>
        </div>
        <div class="button-container" id="season-select-container" style="display : none;">
            <ul id="season-list" style="display: flex;">
                <!--
                season select buttons field
                it will be dynamically generated
            -->
            </ul>
        </div>
        <!-- Image for chart-->
        <div id="img-container"></div>
        <!-- Styles list -->
        <div id="styles-container"></div>
        <script src="{% static 'app.js' %}"></script>
        </script>
    </div>
</body>

</html>